#menu_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    top:0;
    padding-top: 15px;

}

#menu_items > a {
    color: white;
    padding-left: 20px;
    margin-right: 20px;

    text-decoration: none;
    position: -ms-device-fixed;
}

#header_title>img {
    margin-left: 20px;
    margin-top: 20px;
    width: 60%;
    height: auto;

}
body{
    background-image: url('../../../../assets/subpageHeader.png');
    background-repeat: no-repeat;

}

#drawer-menu-items>a{
    color: white;
    padding-left: 20px;
    margin-right: 20px;
padding-bottom: 30px;
    padding-top: 30px;
    font-size: 16px;
    text-decoration: none;
}