.cards{
    box-sizing: border-box;
    border: 13px solid rgba(82, 94, 157, 1);
    width: 362px;
    height: 312px;
    padding-top: 50px;
    background-color: rgba(66, 79, 135, 1);
    margin: 40px;
    box-shadow: 4px 5px 5px rgba(13, 17, 119, 0.164705882352941);


}

.body{
    positon: absolute;
    color:white;
    background-image: url("../../../../../assets/laurel_modi.png");
    background-repeat: no-repeat;
    background-size: 30% auto;
        background-position: center 0px;


}

.body>img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    position: relative;
    opacity: 0.1;


}

.title1{
    font-size: 18px;

    font-wight:300;
    text-align: center;
}

.title2{
    font-size: 18px;

    font-weight: 600;
    text-align: center;
}

.paragraf_text{
    font-size: 13px;


    text-align: center;
}